<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  type="text/css" rel="stylesheet" href="/frontend/src/styles/style.css">
    <script defer type="module" src="/frontend/src/index.js"></script>
    <title>Calculator
        
    </title>
</head>
<body>

    <div class="appcontainer">

        <h1>Calculator</h1>

        <div class = calculator>
        <input type="number" id="input1" placeholder="0">
        <div class="buttons">
        <button id="add">➕</button>
        <button id="subtract">➖</button>
        <button id="multiply">✖️</button>
        <button id="divide">➗</button>
        </div>
        <input type="number" id="input2" placeholder="0">
        <button id="calculate">🤖 CALCULATE!</button>

        </div>

        <p id="result">...</p>


    </div>
    
</body>
</html>